<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- use Spring default values -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/TechDemo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>./logs/TechDemo-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
			<maxFileSize>200MB</maxFileSize>
			<!-- keep 7 days' worth of history capped at 1GB total size -->
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
